#header{
    background-image: linear-gradient(#aa02f8dd, #b101d4);
    width: 100vw;
    height: 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

   
}

.maintext{
    color: white;
    font-size: 3rem;

    padding: 0 4rem 0.4rem 4rem;
}

.log{
    margin-right: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;


    font-weight: lighter;
    color: #ffffff;

    cursor: pointer;
    
}

.log img{
    width: 2.5rem;
    border: 2px solid black;
    border-radius: 50%;
}

.log button{
    border: none;
    border-bottom: 1px solid black;

    background: none;

    cursor: pointer;

    margin-left: 0.5rem;
}

@media (max-width: 490px) {
    .maintext{
        font-size: 2rem;
    }
}