.pokemons{
    height: fit-content;
    max-width: 65rem;
    margin: 0 auto;
}

.pokemons input{
    margin: 1.5rem 0 0.1rem 3.5rem;
}

ul{
    list-style-type: none;
    text-align: center;
    margin: 2rem auto;
    text-decoration: none;
}

.pokemon{
    float: left;
    border-radius: 1rem;

    margin: 1rem;
    height: 8rem;
    width: 9.8rem;

    box-shadow:  rgba(0, 0, 0, 0.25) 8px 9px 2px;

    cursor: pointer;
    transition: all 0.3s;

}

.pokemon:hover{
    box-shadow:  rgba(0, 0, 0, 0.25) 8px 9px 20px;
}

.pokemon img{
    width: 50%;
}

.pokemon p{
    margin: 0.7rem 0 0 0;

    font-size: 0.9rem;
    font-weight: 900;
    padding-top: 0.5rem;

    height: 1.7rem;

    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 0 0 0.8rem 0.8rem;
}

#number{
    font-size: 1rem;

    border-radius: 0.8rem 0.8rem 0 0;
}
  
